@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    @apply text-bright-100 bg-bg_color md:text-sm;
}
h1 {
    font-family: 'Bebas Neue Pro', sans-serif;
    font-weight: 700;
    line-height: 90%;
}

.text-secondary {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    @apply text-dark-300;
}

h2 {
    @apply font-medium tracking-[-0.02em] leading-[100%] mb-4;
}
@layer utilities {
    .no-absolute {
        top: inherit !important;
        bottom: inherit !important;
        left: inherit !important;
        right: inherit !important;
        position: relative !important;
        transform: inherit !important;

    }
}

h3 {
    @apply font-medium leading-[95%] mb-4 text-6xl md:text-3xl;
}

a {
    @apply text-bright-100 text-xl lg:text-lg md:!text-base hover:text-coral-500 transition cursor-pointer;
}

.content {
    @apply max-w-[1560px] mx-auto w-[90%];
}

.sticky-content-wide {
    @apply px-10;
}
.sticky-content-secondary {
    @apply px-40;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    @apply border border-dark-500 focus:border-dark-600 outline-none !ring-0;
}

.swiper-button-disabled path {
    fill: gray;
}
